// 这里管理sass的所有变量
$color-background: #e8e8e8;
$color-background-primary: white;
$color-background-frame: white;
$color-foreground-frame: #303133;
// $color-background-frame: #545c64;
// $color-foreground-frame: white;
$color-border-primary: #ccc;
$line-spacing: 16px;
$column-spacing: 16px;
$main-padding: 16px;
$font-size-title: 14px;
